<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>DMusic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spectre.css@0.5.7/dist/spectre.min.css" />
  {% block styles %}{% endblock %}
</head>

<body>
  {% block content %}
  Content
  {% endblock %}
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
{% block scripts %}{% endblock %}

</html>
